.number {
	margin: 0;
	font-size: 30px;
	font-weight: bold;
	text-shadow: 2px 2px 4px #000000;
}

.hasDatepicker {
	margin: 0 auto;
	//background: #ABB7B7;
}

.table-wrapper {
	margin: 0 auto;
}

#calendar {
	margin:25px auto;
}

.session_percent {
	width: 280px;
	height: 282px;
	margin-left: 20px;
	background: #19182d;
	display: block;
}


.chart1, .chart2 {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    text-align: center;
    font-size: 25px;
    line-height: 100px;
    color: #0ff;
}

canvas {
	position: absolute;
	top: 10px;
	left: 0;
}

.session {
	margin: 0;
}
.session h2 {
	color: #fff;
	margin-top: 10px;
	margin-left: 10px;
}

.session:nth-child(1) {
	margin-right: 5px;
}

.list-subjects {
	margin: 0 auto;
}

.list-subjects ul li {
	color: #fff;
}

